body{
    font-family: "Source Sans Pro", Arial, sans-serif;
}
/* Header */
nav{
    background-color: white;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid gray;
    position: sticky;
}
#coursera-top-logo{  
    width: 127px;
}
.explore-btn-container{
    margin-left: 2%;
}
.explore-btn{
    background-color: #0056d2;
    font-weight: bold;
    color: White;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px;
}
.explore-btn:hover{
    background-color: white;
    color: #0056d2;
    border: 1px solid black;
    transition: all 0.5s;
}
.serach-bar-container{
    margin-left: 2%;
}
#search-box{
    padding-right: 200px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#searchButton{
    background-color: #0056d2;
    margin-left: -5px;
    color: white;
    padding-bottom: 4px;
    height: 40px;
    width: 45px;
    border: 0px;
}
#searchButton:hover{
    cursor: pointer;
}
.remove-bullets{
    list-style: none;
    display: flex;
    align-items: baseline;
}
.space-between{
    margin-right: 27px;
    font-size: 14px;
}
.space-between:hover{
    cursor: pointer;
    color: #3254ee;
    text-decoration: underline;
}
#join-for-free{
    background-color: #0056d2;
    font-weight: bold;
    color: White;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
#join-for-free:hover{
    text-decoration: none;
    background-color: #152ba8;
    transition: all 0.5s;
}
/* Front Page */
#front-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.front-page-img-container{
    margin-left: 200px;
} 
#learn-without-limits-txt{
    font-size: 84px;
}
#front-page-main-text{
    font-size: 20px;
}
#front-page-joinFree-btn{
    font-weight: bold;
    font-size: 20px;
    background-color: #0056d2;
    color: white;
    border: 0px;
    border-radius: 3px;
    padding: 12px 32px 12px 32px;
    height: 72px;
    width: 238px;
}
#front-page-joinFree-btn:hover{
    background-color: #152ba8;
    transition: all 0.5s;
    cursor: pointer;
}
#coursera-business-btn{
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: #0056d2;
    border: 3px solid #0056d2;
    border-radius: 3px;
    padding: 12px 32px 12px 32px;
    height: 72px;
}
#coursera-business-btn:hover{
    background-color: #b7cff3;
    color: rgb(35, 35, 180);
    transition: all 0.5s;
    cursor: pointer;
}
/* Collaboration university list */
#collaboration-uni-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    margin-top: 70px;
    height: 299px;
}
.collaboration-txt{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.collaboration-txt:hover{
    cursor: pointer;
}
#span-coll-txt:hover{
    text-decoration: underline;
}
.collboration-uni-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.collboration-uni-img-container:hover{
    cursor: pointer;
}
/* course list */
#course-lists{
    border-bottom: 1px solid lightslategray;
}
.courseList-text-container{
    display: flex;
    flex-direction: column;
    margin-left:130px;
    margin-bottom: 70px;
    margin-top: 50px;
}
.course-card-first-line{
    color: #382d8b;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}
.course-card-second-line{
    font-size: 44px;
    line-height: 51.2px;
    padding: 10px;
}
.course-card-third-line{
    font-size: 20px;
    line-height: 28px;
}
.course-lists{
    display: flex;
    justify-content: center;
}
.course-card{
    background-color: crimson;
    margin-right: 20px;
    height: 400px;
    width: 292px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    text-align: center;
    font-weight: bold;
}
.course-card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.google-course-card{
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}
.marketing-course-card{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}
.data-engineering-course-card{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); 
}
.AI-course-card{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
#course-lists>p:hover{
    cursor: pointer;
}
/* one day courses */
#one-day-course-lists{
    border-bottom: 1px solid lightslategray;
}
#one-day-course-lists>p:hover{
    cursor: pointer;
}
/* free course team */
#free-course-list{
    border-bottom: 1px solid lightslategray;
}
#free-course-list>p:hover{
    cursor: pointer;
}
/* Explore Coursera */
#explore-coursera{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 50px;
}
#explore-coursera>p{
    font-size: 44px;
}
.course-subject-card-container{
    display: flex;
}
.course-subject{
    height: 80px;
    width: 280px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.course-subject:hover{
    cursor: pointer;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(13, 12, 12, 0.766) 0px 1px 0px inset;
    transition: all 400ms;
}
#data-science-card{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); 
}
#business-card{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
#cs-card{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);  
}
#health-card{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%); 
}
#social-science-card{
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);  
}
#personal-dev-card{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); 
}
#art-card{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); 
}
#physical-card{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); 
}
#language-card{
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}
#information-card{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); 
}
#math-card{
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%); 
}
/* Learner outcomes */
#learner-outcomes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ebf3ff;
    height: 514px;
    margin-top: 100px;
}
#join-for-free-learner-outcomes:hover{
    cursor: pointer;

}
/* users comment */
#Users-comment{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.users-comment-text-container{
    text-align: center;
}
.users-comment-card-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.user-comments-name{
    color: #4a4096;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    font-size: 28px;
    margin-bottom: 25px;
}
.user-comment-country{
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}
.user-comments-txt{
    font-size: 20px;
    text-align-last: center;
}
/* coursera for business */
#coursera-for-business{
   display: flex;
   height: 486px;
   background-color: #f9f7ef;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 100px;
}
.coursera-business-btn{
    color: #2856d2;
   background-color: #f9f7ef;
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #2856d2;
    border-radius: 5px;
    margin-right: 10px;
}
.coursera-business-btn:hover{
    cursor: pointer;
    background-color: #79aff66e;
    transition: all 400ms;
}
.business-logo-container{
    border: 3px outset #2856d2;
    border-radius: 5px;
    padding: 20px;
}
/* next step */
#next-step{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    height: 500px;
}
#join-for-free-next-step:hover{
    cursor: pointer;
}
/* footer */
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f5f5;
}
.margin-top{
    margin-top: 20px;
}
.apple-google-store-pic-container{
    display: flex;
    flex-direction: column;
}
.submenu:hover{
    text-decoration: underline;
    cursor: pointer;
}