/* Header */
nav{
    background-color: white;
    display: flex;
    align-items: baseline;
    font-family: "Source Sans Pro", Arial, sans-serif;
    border-bottom: 1px solid gray;
    position: sticky;
}
#coursera-top-logo{  
    width: 127px;
}
.explore-btn-container{
    margin-left: 2%;
}
.explore-btn{
    background-color: #0056d2;
    font-weight: bold;
    color: White;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px;
}
.explore-btn:hover{
    background-color: white;
    color: #0056d2;
    border: 1px solid black;
    transition: all 0.5s;
}
.serach-bar-container{
    margin-left: 2%;
}
#search-box{
    padding-right: 200px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#searchButton{
    background-color: #0056d2;
    margin-left: -5px;
    color: white;
    padding-bottom: 4px;
    height: 40px;
    width: 45px;
    border: 0px;
}
#searchButton:hover{
    cursor: pointer;
}
.remove-bullets{
    list-style: none;
    display: flex;
    align-items: baseline;
}
.space-between{
    margin-right: 27px;
    font-size: 14px;
}
.space-between:hover{
    cursor: pointer;
    color: #3254ee;
    text-decoration: underline;
}
#join-for-free{
    background-color: #0056d2;
    font-weight: bold;
    color: White;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
#join-for-free:hover{
    text-decoration: none;
    background-color: #152ba8;
    transition: all 0.5s;
}
/* Front Page */
#front-page{
    font-family: "Source Sans Pro", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.front-page-img-container{
    margin-left: 200px;
} 
#learn-without-limits-txt{
    font-size: 84px;
}
#front-page-main-text{
    font-size: 20px;
}
#front-page-joinFree-btn{
    font-weight: bold;
    font-size: 20px;
    background-color: #0056d2;
    color: white;
    border: 0px;
    border-radius: 3px;
    padding: 12px 32px 12px 32px;
    height: 72px;
    width: 238px;
}
#front-page-joinFree-btn:hover{
    background-color: #152ba8;
    transition: all 0.5s;
    cursor: pointer;
}
#coursera-business-btn{
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    color: #0056d2;
    border: 3px solid #0056d2;
    border-radius: 3px;
    padding: 12px 32px 12px 32px;
    height: 72px;
}
#coursera-business-btn:hover{
    background-color: #b7cff3;
    color: rgb(35, 35, 180);
    transition: all 0.5s;
    cursor: pointer;
}
/* Collaboration university list */
#collaboration-uni-list{
    font-family: "Source Sans Pro", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
   background-color: #f5f5f5;
   margin-top: 70px;
   height: 299px;
}
.collaboration-txt{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.collaboration-txt:hover{
    cursor: pointer;
}
#span-coll-txt:hover{
    text-decoration: underline;
}
.collboration-uni-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.collboration-uni-img-container:hover{
    cursor: pointer;
}
/* course list */
#course-lists{
    font-family:"Source Sans Pro", Arial, sans-serif;
    border-bottom: 1px solid lightslategray;
}
.courseList-text-container{
    display: flex;
    flex-direction: column;
    margin-left:130px;
    margin-bottom: 70px;
    margin-top: 50px;
}
.course-card-first-line{
    color: #382d8b;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}
.course-card-second-line{
    font-size: 44px;
    line-height: 51.2px;
    padding: 10px;
}
.course-card-third-line{
    font-size: 20px;
    line-height: 28px;
}
.course-lists{
    display: flex;
    justify-content: center;
}
.course-card{
    background-color: crimson;
    margin-right: 20px;
    height: 400px;
    width: 292px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    text-align: center;
    font-weight: bold;
}
.course-card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.google-course-card{
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}
.marketing-course-card{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}
.data-engineering-course-card{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); 
}
.AI-course-card{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
#course-lists>p:hover{
    cursor: pointer;
}
/* one day courses */
#one-day-course-lists{
    font-family:"Source Sans Pro", Arial, sans-serif;
    border-bottom: 1px solid lightslategray;
}
#one-day-course-lists>p:hover{
    cursor: pointer;
}
/* free course team */
#free-course-list{
    font-family:"Source Sans Pro", Arial, sans-serif;
    border-bottom: 1px solid lightslategray;
}
#free-course-list>p:hover{
    cursor: pointer;
}